<!DOCTYPE html>
<html>
  <head>
  	<link rel="icon" href="favicon.ico" type="image/x-icon" />
    <title>Quiz <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Quiz <%= title %></h1>
    <p>Preguntas y respuestas</p>
    <p><a href="/question">Juegue aquí</a></p>
  </body>
</html>
