
<p>
<form method="get" action="/quizzes">        
	<p>
      Buscador    
     </p>
    <p>
      <input type="text" name="search" placeholder="Introduzca texto a buscar" />
      <input type="submit" value="Buscar">
    </p>
  </form>

<table>
  <% for (var i in quizzes) { %>        
     <tr>
        <td>
           <a href="/quizzes/<%= quizzes[i].id %>"><%= quizzes[i].question %></a>
        </td>
     </tr> 
  <% } %>
</table>
<br>
</p>
